<div class="container mt-5">
  <div class="row">
    <h2 class="text-primary text-center">Iniciar sesión</h2>
  </div>
  <div class="row mt-3">
    <div class="col-sm-4"></div>
    <div class="col-sm-4">
      <form [formGroup]="formController" (ngSubmit)="iniciarSesion()">
        <div class="mb-3">
          <label for="email" class="form-label">Correo electronico</label>
          <input
            type="email"
            class="form-control"
            id="email"
            aria-describedby="emailDescribe"
            formControlName="email"
          />
          <div id="emailDescribe" class="form-text">
            Ingresa tu correo electronico.
          </div>
        </div>
        <div class="mb-3">
          <label for="exampleInputPassword1" class="form-label"
            >Contraseña</label
          >
          <input
            type="password"
            class="form-control"
            id="password"
            formControlName="password"
          />
        </div>
        <div class="d-grid gap-2">
          <button type="submit" class="btn btn-primary">Iniciar sesión</button>
        </div>
      </form>
    </div>
    <div class="col-sm-4"></div>
  </div>
  <div class="row mt-3">
    <div class="col-sm-4"></div>
    <div class="col-sm-4">
      <div class="d-grid gap-2">
        <button type="button" class="btn btn-danger" (click)="authService.GoogleAuth()">
          Inicia sesión con Google
        </button>
      </div>
    </div>
  </div>

  <div class="row mt-3">
    <p class="text-center">------- O -------</p>
  </div>
  <div class="row">
    <div class="col-sm-4"></div>
    <div class="col-sm-4">
      <div class="d-grid gap-2">
        <button type="button" class="btn btn-light" (click)="abrirPaginaRegistro()">
          Crea una cuenta ✨
        </button>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-sm-4"></div>
    <div class="col-sm-4">
      <hr />
    </div>
  </div>
  <div class="row">
    <div class="col-sm-4"></div>
    <div class="col-sm-4">
      <div class="d-grid gap-2">
        <button type="submit" class="btn btn-light" (click)="abrirPaginaOlvideContrasena()">
          ¿Olvidaste tu contraseña?🗝️
        </button>
      </div>
    </div>
  </div>
</div>
